.scene {
  position: absolute;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  animation: turn-on-scene 3s linear forwards;
}

@keyframes turn-on-scene {
  0%,
  25%,
  40% {
    opacity: 0;
  }

  15%,
  30% {
    opacity: 0.5;
  }

  20%,
  35%,
  85% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}

.rocket {
  position: relative;
  height: 40px;
  width: 30px;
  bottom: -100%;
  /* animation: shake 0.15s ease infinite; */ /* This animation is added from javascript*/
  transition: bottom 3s ease-in-out;
  background: center/contain url(../../img/rocket.png) no-repeat;
}

@keyframes shake {
  0%,
  100% {
    transform: translateY(-1px);
  }

  50% {
    transform: translateY(1px);
  }
}

.rocket::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 0;
  background: linear-gradient(#00aeff, transparent);
  opacity: 0;
}

.rocket > img {
  height: 100%;
  width: 100%;
}

.rocket-fire::before {
  height: 50px;
  bottom: -50px;
  animation: turn-on-fire 3s steps(2, end) forwards;
}

.rocket-fire--strong::before {
  width: 6px;
  height: 100px;
  bottom: -100px;
  opacity: 1;
}

@keyframes turn-on-fire {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
