/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700;900&display=swap'); */

@import './_reset.css';
@import './_variable.css';

/* ----- templates ----- */
@import './templates/_layout.css';

/* ----- components ----- */
@import './components/_universe.css';
@import './components/_greeting.css';
@import './components/_clock.css';
@import './components/_weather.css';
@import './components/_scene.css';

/* ----- elements ----- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  position: relative;
  transition: background-color 0.5s ease-in-out;
}

body.anime-done {
  background: url(../img/back.jpg) no-repeat left/cover;
}

.hide {
  visibility: hidden;
  opacity: 0;
}

.weather,
.clock {
  transition: opacity 1s ease-in-out;
}

/* ------ temp ------- */
/* .greeting > * {
  opacity: 1;
  animation: none;
} */
